page-location {
    ion-content {
        background-image: url('../assets/images/homebg.png');
        background-size: cover;
        background-position-x: 50%;
        background-repeat: no-repeat;
        div {
            width: 100%;
            height: 100%;
        }
    }
}