<ion-header>

    <ion-navbar>
        <ion-title>聊天</ion-title>
    </ion-navbar>

</ion-header>


<ion-content scrollDownOnLoad=true>
    <ion-grid *ngFor="let message of messages">
        <ion-row *ngIf="message.sender_id != 1">
            <ion-col class="head">
                <div class="img_head">
                    <img src="{{message.sender_image}}" alt="">
                </div>
            </ion-col>
            <ion-col class="container">
                <div class="content">
                    <div class="arrow"></div>
                    <div class="username">{{message.sender}}</div>
                    <div class="message">{{message.content}}</div>
                </div>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="message.sender_id == 1">
            <ion-col class="container">
                <div class="content" text-right>
                    <div class="arrowright"></div>
                    <div class="username">{{message.reciver}}</div>
                    <div class="message">{{message.content}}</div>
                </div>
            </ion-col>
            <ion-col class="head">
                <div class="img_head">
                    <img src="{{message.reciver_image}}" alt="">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-row class="input_btn">
            <ion-col class="input">
                <ion-input></ion-input>
            </ion-col>
            <ion-col class="btn">
                <button ion-button no-margin (click)="sendmessage()">发送</button>
            </ion-col>
        </ion-row>
        <ion-row class="function">
            <ion-col col-2>
                <button ion-button clear><ion-icon name="mic-outline"></ion-icon></button>
            </ion-col>
            <ion-col col-2>
                <button ion-button clear><ion-icon name="image-outline"></ion-icon></button>
            </ion-col>
            <ion-col col-2>
                <button ion-button clear><ion-icon name="camera-outline"></ion-icon></button>
            </ion-col>
            <ion-col col-2>
                <button ion-button clear><ion-icon name="happy-outline"></ion-icon></button>
            </ion-col>
            <ion-col col-2>
                <button ion-button clear><ion-icon name="pin-outline"></ion-icon></button>
            </ion-col>
            <ion-col col-2>
                <button ion-button clear><ion-icon name="add-circle-outline"></ion-icon></button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>