<ion-header no-border>

    <ion-navbar transparent>
        <ion-title>{{title}}</ion-title>
        <ion-buttons end>
            <button ion-button clear (click)="clearHistory()">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content scrollDownOnLoad=true>
    <ion-grid *ngFor="let message of messages">
        <ion-row *ngIf="message.messageDirection == 2">
            <ion-col class="head">
                <div class="img_head">
                    <img src="{{message.content?.user?.portrait}}" alt="">
                </div>
            </ion-col>
            <ion-col class="container">
                <div class="content" *ngIf="message.objectName=='RC:TxtMsg'">
                    <div class="arrow"></div>
                    <div class="username">{{message.content?.user?.name}}</div>
                    <div class="message">{{message.content?.content}}</div>
                </div>
                <div class="content" *ngIf="message.objectName=='RC:ImgMsg'">
                    <div class="username">{{message.content?.user?.name}}</div>
                    <img [src]="message.content?.content|trustHtml" alt="">
                </div>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="message.messageDirection == 1">
            <ion-col class="container">
                <div class="content" text-right *ngIf="message.objectName=='RC:TxtMsg'">
                    <div class="arrowright"></div>
                    <div class="username">{{message.content?.user?.name}}</div>
                    <div class="message">{{message.content?.content}}</div>
                </div>
                <div class="content" text-right *ngIf="message.objectName=='RC:ImgMsg'">
                    <div class="username">{{message.content?.user?.name}}</div>
                    <img [src]="message.content?.content|trustHtml" alt="">
                </div>
            </ion-col>
            <ion-col class="head">
                <div class="img_head">
                    <img src="{{message.content?.user?.portrait}}" alt="">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-row class="input_btn">
            <ion-col class="input">
                <ion-input [(ngModel)]="inputValue"></ion-input>
            </ion-col>
            <ion-col class="btn">
                <button ion-button no-margin (click)="sendmessage()">发送</button>
            </ion-col>
        </ion-row>
        <ion-row class="function">
            <ion-col col-2>
                <button ion-button clear (click)="voice()"><ion-icon name="mic-outline"></ion-icon></button>
            </ion-col>
            <ion-col col-2>
                <button ion-button clear (click)="upload(1)"><ion-icon name="image-outline"></ion-icon></button>
            </ion-col>
            <ion-col col-2>
                <button ion-button clear (click)="upload(2)"><ion-icon name="camera-outline"></ion-icon></button>
            </ion-col>
            <ion-col col-2>
                <button ion-button clear (click)="showEmoj()"><ion-icon name="happy-outline"></ion-icon></button>
            </ion-col>
            <ion-col col-2>
                <button ion-button clear><ion-icon name="pin-outline"></ion-icon></button>
            </ion-col>
            <ion-col col-2>
                <button ion-button clear><ion-icon name="add-circle-outline"></ion-icon></button>
            </ion-col>
        </ion-row>
        <div class="emoj" *ngIf="emojFlag">
            <ion-row>
                <ion-col col-2 text-center *ngFor="let emoj of emojs" (click)="selectEmoj(emoj)">{{emoj}}</ion-col>
            </ion-row>

        </div>
    </ion-toolbar>
</ion-footer>