page-music {
    font-family: $Font-Family;
    ion-content {
        background-image: url('../assets/images/homebg.png');
        background-size: cover;
        background-position-x: 50%;
        background-repeat: no-repeat;
        ion-list {
            ion-item {
                background: transparent!important;
                ion-row {
                    ion-col.index {
                        div {
                            height: 3rem;
                            width: 3rem;
                            line-height: 3rem;
                            border-radius: 3rem;
                            background: #ffffff;
                        }
                    }
                    ion-col.info {
                        h5 {
                            font-weight: 500!important;
                        }
                        p {
                            font-size: 1.2rem!important;
                        }
                    }
                    ion-col.duration {
                        color: #9b9b9b;
                        font-size: 1.2rem!important;
                    }
                }
            }
        }
    }
    ion-footer {
        ion-toolbar {
            ion-row {
                height: 7rem;
                ion-col {
                    img {
                        width: 6rem;
                        height: 6rem;
                    }
                    h5 {
                        color: #0b71a5!important;
                        margin: 0!important;
                    }
                    p {
                        color: #9b9b9b;
                        font-size: 1.4rem!important;
                    }
                    button {
                        height: 4.4rem!important;
                        border-radius: 4.4rem!important;
                    }
                }
            }
        }
    }
}