page-movie-play {
    ion-content {
        .movie_detail {
            ion-list-header {
                font-size: 1.8rem!important;
                font-weight: 500;
                padding-left: 0!important;
            }
            div {
                padding: 0 1rem;
                p {
                    font-weight: bold;
                    i {
                        font-weight: normal!important;
                    }
                }
            }
        }
    }
}